/*reset style*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section,a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header,footer,canvas{
    display: block;
}

body{
    font: 62.5% Arial, Helvetica, sans-serif;
}

/*header start*/
#header{
    width: 100%;
    height: 43px;
    line-height: 43px;
    background: url("../images/backgroundImages.png") no-repeat!important;
    background-size: cover;
}
.header_content{
    width: 960px;
    margin: 0 auto;
}
.header_navLeft{
    float: left;
    list-style: none;
}
.header_navLeft li{
    float: left;
    width: 71px;
}
.header_navLeft li a{
    font-size: 1.2em;
    display: block;
    text-align: center;
    color: #536390;
    font-weight: bold;
}
.header_navRight{
    list-style: none;
    float: right;
}
.header_navRight li{
    float: left;
    width: 71px;
}
.header_navRight li a{
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    text-align: center;
    color: #536390;
}
/*content start*/
#main{
    width: 100%;
}
/*username headPortrait start*/
.main_first{
    width: 100%;
    height: 500px;
    background: #1284AD;
    position: relative;
}
.main_first div{
    width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -119px;
}
.head_portrait{
    margin: 0 auto;
    border: 4px solid #EECB5D;
    display: block;
    width: 110px;
    height: 120px;
    border-radius: 50%;
    background: url("../images/user1_03.png") no-repeat;
}
.master_name{
    display: none;
    *display:block;
    font-size: 5em;
    text-align: center;
    color: #32B48C;
}
.download_resume{
    width: 80px;
    display: block;
    height: 30px;
    border: 2px solid #fff;
    margin: 10px auto;
    line-height: 30px;
    text-align: center;
}
.download_resume:hover{
    background: #fff;
    color: #000;
    border: 2px solid #ADAB52;
}
/*personage synopsis start*/
.main_second{
    width: 100%;
    height: 500px;
    background: #44ADA8;
}
.main_second h1{
    font-size: 2em;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}
.synopsis{
    width: 960px;
    margin: 80px auto auto;
}
.synopsis_left{
    list-style: none;
    float: left;
}
.synopsis_left li{
    font-size: 1.4em;
    color: #fff;
    padding: 5px 0px;
}
.synopsis_left li span{
    display: inline-block;
    width: 80px;
}
.synopsis_right{
    float: left;
    margin-left: 150px;
}
.synopsis_right li{
    font-size: 1.4em;
    color: #fff;
    padding: 5px 0px;
}
/*personage skill start*/
.main_third{
    width: 100%;
    height: 500px;
    background: #34AD70;
}
.main_third h1{
    font-size: 2em;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}
.main_third div{
    width: 960px;
    margin: 80px auto auto;
}
.main_third div p{
    padding: 10px;
    font-size: 1.4em;
    color: #fff;
    text-align: left;
}
/*Hobbies start*/
.main_four{
    width: 100%;
    height: 500px;
    background: #A6AD10;
}
.main_four h1{
    font-size: 2em;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}
.main_four div{
    width: 960px;
    margin: 80px auto auto;
}
.main_four div p{
    padding: 10px;
    font-size: 1.4em;
    color: #fff;
    text-align: left;
}
/*skill show start*/
.main_fifth{
    width: 100%;
    height: 500px;
    background: #EE5209;
}
.main_fifth h1{
    font-size: 2em;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}
.main_fifth div{
    width: 960px;
    margin: 80px auto auto;
}
.main_fifth div ul{
    list-style: none;
    padding: 20px 50px;
}
.main_fifth div ul li{
    float: left;
    margin: 5px 5px;
    text-align: center;
    line-height: 100px;
    background: #4F740C;
    width: 100px;
    height: 100px;
    border: 2px solid #1D87FF;
    cursor: pointer;
    transition: all 0.2s linear;
}
.main_fifth div ul li:hover{
    border: 2px solid #FFEB33;
    background: #2E7459;
}
.main_fifth div ul li:hover a{
    color: #333333;
}
.main_fifth div ul li a{
    color: #fff;
}
/*mobile start*/

@media screen and (max-width: 768px){
    /*header start */
    #header{
        width: 100%;
        height: 43px;
        line-height: 43px;
        background: url("../images/backgroundImages.png") no-repeat!important;
        background-size: cover;
    }
    .header_content{
        width: 95%;
        margin: 0 auto;
    }
    .header_navLeft{
        float: left;
        list-style: none;
    }
    .header_navLeft li{
        float: left;
        width: 71px;
    }
    .header_navLeft li a{
        font-size: 1.2em;
        display: block;
        text-align: center;
        color: #536390;
        font-weight: bold;
    }
    .header_navRight_a{
        float: right;
        width: 30px;
        height: 43px;
        background: url("../images/icon.png") no-repeat -45px -84px;
    }
    .header_navRight{
        list-style: none;
        display: none;
    }
    .header_navRight li{
        width: 71px;
    }
    .header_navRight li a{
        font-weight: bold;
        font-size: 1.2em;
        display: block;
        text-align: center;
        color: #536390;
    }
    /*content start*/
    #main{
        width: 100%;
    }
    /*user headPortrait start*/
    .main_first{
        width: 100%;
        height: 500px;
        background: #1284AD;
        position: relative;
    }
    .main_first div{
        width: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -119px;
    }
    .head_portrait{
        margin: 0 auto;
        border: 4px solid #EECB5D;
        display: block;
        width: 110px;
        height: 120px;
        border-radius: 50%;
        background: url("../images/user1_03.png") no-repeat;
    }
    .master_name{
        display: none;
        *display:block;
        font-size: 5em;
        text-align: center;
        color: #32B48C;
    }
    .download_resume{
        width: 80px;
        display: block;
        height: 30px;
        border: 2px solid #fff;
        margin: 10px auto;
        line-height: 30px;
        text-align: center;
    }
    .download_resume:hover{
        background: #fff;
        color: #000;
        border: 2px solid #ADAB52;
    }
    /*personage synopsis start*/
    .main_second{
        width: 100%;
        height: 500px;
        background: #44ADA8;
    }
    .main_second h1{
        font-size: 2em;
        padding: 20px 0px;
        text-align: center;
        color: #fff;
    }
    .synopsis{
        width: 300px;
        margin: 80px auto auto;
    }
    .synopsis_left{
        list-style: none;
        float: left;
    }
    .synopsis_left li{
        font-size: 1.4em;
        color: #fff;
        padding: 5px 0px;
    }
    .synopsis_left li span{
        display: inline-block;
        width: 80px;
    }
    .synopsis_right{
        margin: 30px auto auto;
        float: left;
    }
    .synopsis_right li{
        font-size: 1.4em;
        color: #fff;
        padding: 5px 0px;
    }
    /*personage skill start*/
    .main_third{
        width: 100%;
        background: #34AD70;
    }
    .main_third h1{
        font-size: 2em;
        padding: 20px 0px;
        text-align: center;
        color: #fff;
    }
    .main_third div{
        width: 300px;
    }
    .main_third div p{
        padding: 10px;
        font-size: 1.4em;
        color: #fff;
        text-align: left;
    }
    /*Hobbies start*/
    .main_four{
        width: 100%;
        background: #A6AD10;
    }
    .main_four h1{
        font-size: 2em;
        padding: 20px 0px;
        text-align: center;
        color: #fff;
    }
    .main_four div{
        width: 300px;
        margin: 20px auto auto;
    }
    .main_four div p{
        padding: 10px;
        font-size: 1.4em;
        color: #fff;
        text-align: left;
    }
    /*skill show start*/
    .main_fifth{
        width: 100%;
        background: #EE5209;
    }
    .main_fifth h1{
        font-size: 2em;
        padding: 20px 0px;
        text-align: center;
        color: #fff;
    }
    .main_fifth div{
        width: 300px;
        margin: 30px auto auto;
    }
    .main_fifth div ul{
        width: 78%;
        list-style: none;
        margin: 0 auto;
    }
    .main_fifth div ul li{
        float: left;
        margin: 5px 5px;
        display: inline;
        text-align: center;
        line-height: 100px;
        background: #4F740C;
        width: 100px;
        height: 100px;
        border: 2px solid #1D87FF;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .main_fifth div ul li:hover{
        border: 2px solid #FFEB33;
        background: #2E7459;
    }
    .main_fifth div ul li:hover a{
        color: #333333;
    }
    .main_fifth div ul li a{
        color: #fff;
    }
}


