* {
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

body {;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background: url("../images/Login-bg.jpg") no-repeat center center;
  background-size: 100% 100%;
}


@media screen and (min-width: 770px) {
  #container{
    width: 100%;
    #header{
      width: 100%;
      .header_top{
        width: 960px;
        height: 43px;
        margin: 0 auto;
        .header_top_left{
          float: left;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
        .header_top_right{
          float: right;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
      }
      .header_mid{
        width: 960px;
        margin: 10px auto;
        overflow: hidden;
        .header_mid_logo{
          float: left;
          h1{
            width: 200px;
            height: 50px;
            text-indent: -5000px;
            background: url("../images/classBBClogo.png") no-repeat 5px -21px;
          }
        }
      }
    }
    .main_content{
      width:960px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 5px;
      .main_top{
        height: 44px;
        li{
          float: left;
          height: 44px;
          width: 120px;
          position: relative;
          a{
            color: #848484;
            position: absolute;
            z-index: 11;
            top: 2px;
            left: 0px;
            display: block;
            font-size: 1.8em;
            padding: 10px 40px;
          }
        }
      }
      .main_bottom{
        height: 600px;
        position: relative;
      }
    }
    .myForm_box{
      background: rgba(185,185,185,0.1);
      box-shadow: 0px 0px 1px #000;
      padding: 5px 5px 60px 5px;
      margin: 20px auto 0px auto;
      width: 275px;
      border: 1px solid #D6D6D6;
      border-radius: 5px;
      .username_box{
        margin-top: 20px;
        background: url("../images/form_login2.png") no-repeat right #fff;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .nameMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 292px;
          border-radius: 5px;
          border: 1px solid #ccc;
          line-height: 30px;
        }
      }
      .pwd_box{
        background: url("../images/form_login1.png") no-repeat right #fff;
        margin-top: 20px;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .pwdMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          height: 100%;
          border-radius: 5px;
          position: absolute;
          top: 0px;
          left: 292px;
          border: 1px solid #ccc;
          line-height: 30px;
        }
      }
      .email_box{
        background: url("../images/form_login3.png") no-repeat right #fff;
        margin-top: 20px;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .emailMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          border-radius: 5px;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 292px;
          border: 1px solid #ccc;
          line-height: 30px;
        }
      }
      .verification_code{
        position: relative;
        margin-top: 20px;
        input{
          height: 45px;
          text-align: center;
          float: left;
          width: 90px;
          border: none;
          outline: none;
          border: 1px solid #ccc;
        }
        .verification_code_box{
          float: left;
          margin-left: 10px;
          font-size: 2em;
          font-style: italic;
          color: #fff;
          line-height: 45px;
          text-align: center;
          height: 45px;
          background: rgba(167,167,167,.3);
          width: 90px;
        }
        a{
          line-height: 45px;
          margin-left: 10px;
          color: #ccc;
        }
        a:hover{
          text-decoration: underline;
        }
        .verification_code_error{
          padding-left: 5px;
          color: maroon;
          display: none;
          width: 200px;
          border-radius: 5px;
          position: absolute;
          height: 30px;
          top: 7.5px;
          left: 292px;
          border: 1px solid #ccc;
          line-height: 30px;
        }
      }
      .button_box{
        margin-top: 20px;
        text-align: center;
        input{
          cursor: pointer;
          background: rgba(211,71,63,1);
          border: none;
          font-size: 1.8em;
          color: #fff;
          outline: none;
          width: 80%;
          height: 40px;
          -webkit-transition: all linear 0.2s;
          border-radius: 5px;
        }
        input:hover{
          background: rgba(211,91,63,0.8);
        }
      }
    }
  }

  #footer{
    width:960px;
    margin: 20px auto 0px auto;
    padding: 5px;
    .footer_top{
      overflow: hidden;
      .footer_information_box{
        width: 400px;
        margin: 0 auto;
        .footer_information_ul1{
          width: 100px;
          float: left;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            display: block;
            color: #848484;
            margin-top: 5px;
          }
        }
        .footer_information_ul2{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul3{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul4{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    .footer_bottom{
      color: #848484;
      margin-top: 15px;
      text-align: center;
    }
  }
}




@media screen and (max-width: 768px) {
  #container{
    width: 100%;
    #header{
      width: 100%;
      .header_top{
        width: 95%;
        height: 43px;
        margin: 0 auto;
        .header_top_left{
          float: left;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
        .header_top_right{
          float: right;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
      }
      .header_mid{
        width: 95%;
        margin: 10px auto;
        overflow: hidden;
        padding: 0px 10px;
        .header_mid_logo{
          float: left;
          h1{
            width: 200px;
            height: 50px;
            text-indent: -5000px;
            background: url("../images/classBBClogo.png") no-repeat 5px -21px;
          }
        }
      }
    }
    .main_content{
      width:95%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 5px;
      .main_bottom{
        height: 350px;
      }
    }
    .myForm_box{
      background: rgba(185,185,185,0.1);
      box-shadow: 0px 0px 1px #000;
      padding: 5px 5px 60px 5px;
      margin: 20px auto 0px auto;
      width: 275px;
      border: 1px solid #D6D6D6;
      border-radius: 5px;
      .username_box{
        margin-top: 20px;
        background: url("../images/form_login2.png") no-repeat right #fff;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .nameMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          height: 100%;
          position: absolute;
          top: 24px;
          left:0px;
          border-radius: 5px;
          line-height: 30px;
        }
      }
      .pwd_box{
        background: url("../images/form_login1.png") no-repeat right #fff;
        margin-top: 20px;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .pwdMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          height: 100%;
          border-radius: 5px;
          position: absolute;
          top: 24px;
          left:0px;
          line-height: 30px;
        }
      }
      .email_box{
        background: url("../images/form_login3.png") no-repeat right #fff;
        margin-top: 20px;
        height: 30px;
        position: relative;
        border: 1px solid #ccc;
        input{
          height: 100%;
          padding-left: 10px;
          width: 220px;
          border: none;
          outline: none;
        }
        .emailMessage{
          display: none;
          padding-left: 5px;
          width: 200px;
          border-radius: 5px;
          height: 100%;
          position: absolute;
          top: 24px;
          left:0px;
          line-height: 30px;
        }
      }
      .verification_code{
        position: relative;
        margin-top: 20px;
        input{
          height: 45px;
          text-align: center;
          float: left;
          width: 90px;
          border: none;
          outline: none;
          border: 1px solid #ccc;
        }
        .verification_code_box{
          float: left;
          margin-left: 10px;
          font-size: 2em;
          font-style: italic;
          color: #fff;
          line-height: 45px;
          text-align: center;
          height: 45px;
          background: rgba(167,167,167,.3);
          width: 90px;
        }
        a{
          line-height: 45px;
          margin-left: 10px;
          color: #ccc;
        }
        a:hover{
          text-decoration: underline;
        }
        .verification_code_error{
          padding-left: 5px;
          color: maroon;
          display: none;
          width: 200px;
          border-radius: 5px;
          position: absolute;
          height: 30px;
          top: 41px;
          left:0px;
          line-height: 30px;
        }
      }
      .button_box{
        margin-top: 20px;
        text-align: center;
        input{
          cursor: pointer;
          background: rgba(211,71,63,1);
          border: none;
          font-size: 1.8em;
          color: #fff;
          outline: none;
          width: 80%;
          height: 40px;
          -webkit-transition: all linear 1s;
          border-radius: 5px;
        }
        input:hover{
          background: rgba(211,91,63,0.8);
        }
      }
    }
  }

  #footer{
    width:95%;
    margin: 0 auto;
    padding: 5px;
    .footer_top{
      display: none;
      overflow: hidden;
      .footer_information_box{
        width: 400px;
        margin: 0 auto;
        .footer_information_ul1{
          width: 100px;
          float: left;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            display: block;
            color: #848484;
            margin-top: 5px;
          }
        }
        .footer_information_ul2{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul3{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul4{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    .footer_bottom{
      color: #848484;
      margin-top: 15px;
      text-align: center;
    }
  }
}