* {
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.clear{
  clear: both;
}


@media screen and (min-width: 768px){
  #container{
    background: #1E2F3B;
    width: 100%;
    #header{
      width: 100%;
      background: url("../images/top_line.png") repeat-x,url('../images/Login-bg.jpg') 0% 64%;
      .header_top{
        width: 960px;
        height: 43px;
        margin: 0 auto;
        .header_top_left{
          float: left;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
        .header_top_right{
          float: right;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
      }
      .header_mid{
        width: 960px;
        margin: 20px auto;
        overflow: hidden;
        .header_mid_logo{
          float: left;
          h1{
            width: 200px;
            height: 50px;
            text-indent: -5000px;
            background: url("../images/classBBClogo.png") no-repeat 5px -21px;
          }
        }
        .header_input_box{
          float: right;
          .select_box{
            float: left;
            select{
              background-color: #E1EFFA;
              outline: none;
              border: none;
              height: 40px;
              width: 60px;
            }
          }
          .input_box{
            background-color: #E1EFFA;
            float: left;
            height: 40px;
            input{
              background-color: transparent;
              float: left;
              outline: none;
              border: none;
              height: 100%;
              width: 225px;

            }
            span{
              float: left;
              cursor: pointer;
              height: 40px;
              width: 43px;
              background: url("../images/sousuo.png") no-repeat 9px 7px #506F89;
              background-size: 62% 72%;
            }
          }
          .clear{
            clear: both;
          }
        }
        .header_welcome{
          float: left;
          #myCanvas{
            -webkit-transition: all linear 2s;
          }
        }
      }
      .header_bottom{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        background: url("../images/nav.png") 100% 98%;
        .header_bottom_box{
          background: rgba(30,44,87,0.3);
          width: 960px;
          line-height: 40px;
          margin: 0 auto;
          p{
            margin-left: 15px;
            font-size: 1.8em;
            color: #FFD10D;
            font-style: italic;
          }
        }
      }
    }
  }


  #main{
    width: 960px;
    margin: 0 auto;
    position: relative;
    .main_left{
      float: left;
      width: 20%;
      .main_left_menu{
        li{
          display: block;
          height: 40px;
          position: relative;
          z-index: 11111;
          a{
            line-height: 40px;
            font-size: 1.4em;
            color: #ccc;
          }
        }
      }
    }
    .main_left_mask{
      position: absolute;
      top: 0;
      left: -1px;
      width: 20%;
      height: 100%;
    }
    .headPortrait_box{
      img{
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
      }
      span{
        display: block;
        width: 50px;
        line-height: 30px;
        height: 30px;
        text-align: center;
        color: #ddd;
        background: #D5A508;
        margin-top: 10px;
        font-size: 0.8em;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .main_mid{
      width: 79%;
      float: left;
      .myData{
        display: none;
        padding: 10px 0px 10px 0px;
        h3{
          text-align: center;
          margin-bottom: 10px;
          color: #ddd;
        }
        a{
          float: right;
          color: #FF4109;
        }
        .myData_box{
          margin-top: 6px;
          table{
            width: 100%;
            tr{
              line-height: 40px;
            }
            td:nth-child(1){
              text-align: center;
              width: 30%;
              color: #ddd;
            }
            td:nth-child(2){
              text-align: center;
              width: 70%;
              color: #ddd;
            }
            button{
              width: 60px;
              height: 30px;
              border: none;
              outline: none;
              border-radius: 5px;
              color: #fff;
              background: rgba(200,200,200,.5);
            }
          }
        }
      }
      .myPost{
        display: none;
        padding: 10px 0px;
        h3{
          text-align: center;
          color: #ddd;
        }
        .myPost_box{
          table{
            width: 100%;
            tr{
              line-height: 40px;

            }
            td{
              color: #ccc;
              text-align: center;
              width: 30%;
              a{
                color: #ccc;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .collection_post{
        padding: 10px 0px;
        h3{
          text-align: center;
          color: #ddd;
        }
        .collection_post_box{
          table{
            width: 100%;
            tr{
              line-height: 40px;
            }
            td{
              width: 30%;
              text-align: center;
              color: #ccc;
              a{
                color: #ccc;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .hide_data{
        display: none;
      }
      .show_data{
        display: block!important;
      }
    }
    .main_right{
      width: 20%;
      float: left;
    }
  }



  #footer{
    width:960px;
    margin: 20px auto 0px auto;
    padding: 5px;
    .footer_top{
      overflow: hidden;
      .footer_information_box{
        width: 400px;
        margin: 0 auto;
        .footer_information_ul1{
          width: 100px;
          float: left;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            display: block;
            color: #848484;
            margin-top: 5px;
          }
        }
        .footer_information_ul2{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul3{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul4{
          float: left;
          width: 100px;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    .footer_bottom{
      color: #848484;
      margin-top: 15px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 770px){
  #container{
    background: #1E2F3B;
    width: 100%;
    #header{
      width: 100%;
      background: url("../images/top_line.png") repeat-x,url('../images/Login-bg.jpg') 0% 64%;
      .header_top{
        width: 95%;
        height: 43px;
        margin: 0 auto;
        .header_top_left{
          float: left;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
        .header_top_right{
          float: right;
          ul{
            li{
              float: left;
              height: 43px;
              padding: 0px 5px;
              line-height: 43px;
              text-align: center;
              a{
                font-size: 1.2em;
                color: #fff;
              }
            }
          }
        }
      }
      .header_mid{
        width: 95%;
        margin: 10px auto;
        overflow: hidden;
        .header_mid_logo{
          float: left;
          h1{
            width: 200px;
            height: 50px;
            text-indent: -5000px;
            background: url("../images/classBBClogo.png") no-repeat 5px -21px;
          }
        }
        .header_input_box{
          float: right;
          .select_box{
            float: left;
            select{
              background-color: #E1EFFA;
              outline: none;
              border: none;
              height: 40px;
              width: 60px;
            }
          }
          .input_box{
            background-color: #E1EFFA;
            float: left;
            height: 40px;
            input{
              background-color: transparent;
              float: left;
              outline: none;
              border: none;
              height: 100%;
              width: 225px;

            }
            span{
              float: left;
              cursor: pointer;
              height: 40px;
              width: 43px;
              background: url("../images/sousuo.png") no-repeat 9px 7px #506F89;
              background-size: 62% 72%;
            }
          }
          .clear{
            clear: both;
          }
        }
        .header_welcome{
          float: left;
          #myCanvas{
            -webkit-transition: all linear 2s;
          }
        }
      }
      .header_bottom{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        background: url("../images/nav.png") 100% 98%;
        .header_bottom_box{
          background: rgba(30,44,87,0.3);
          width: 95%;
          line-height: 40px;
          margin: 0 auto;
          p{
            margin-left: 15px;
            font-size: 1.8em;
            color: #FFD10D;
            font-style: italic;
          }
        }
      }
    }
  }


  #main{
    width: 95%;
    margin: 0 auto;
    position: relative;
    .main_left{
      float: left;
      width: 20%;
      .main_left_menu{
        li{
          display: block;
          height: 40px;
          position: relative;
          z-index: 11111;
          a{
            line-height: 40px;
            font-size: 1.4em;
            color: #ccc;
          }
        }
      }
    }
    .main_left_mask{
      position: absolute;
      top: 0;
      left: -1px;
      width: 20%;
      height: 100%;
    }

    .main_mid{
      width: 100%;
      float: left;
      .myData{
        display: none;
        padding: 10px 0px 10px 0px;
        h3{
          text-align: center;
          margin-bottom: 10px;
          color: #ddd;
        }
        a{
          float: right;
          color: #FF4109;
        }
        .myData_box{
          margin-top: 6px;
          table{
            width: 100%;
            tr{
              line-height: 40px;
            }
            td:nth-child(1){
              text-align: center;
              width: 30%;
              color: #ddd;
            }
            td:nth-child(2){
              text-align: center;
              width: 70%;
              color: #ddd;
            }
            button{
              width: 60px;
              height: 30px;
              border: none;
              outline: none;
              border-radius: 5px;
              color: #fff;
              background: rgba(200,200,200,.5);
            }
          }
        }
      }
      .myPost{
        display: none;
        padding: 10px 0px;
        h3{
          text-align: center;
          color: #ddd;
        }
        .myPost_box{
          table{
            width: 100%;
            tr{
              line-height: 40px;

            }
            td{
              color: #ccc;
              text-align: center;
              width: 30%;
              a{
                color: #ccc;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .collection_post{
        padding: 10px 0px;
        h3{
          text-align: center;
          color: #ddd;
        }
        .collection_post_box{
          table{
            width: 100%;
            tr{
              line-height: 40px;
            }
            td{
              width: 30%;
              text-align: center;
              color: #ccc;
              a{
                color: #ccc;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .hide_data{
        display: none;
      }
      .show_data{
        display: block!important;
      }
    }
    .main_right{
      width: 20%;
      float: left;
    }
  }



  #footer{
    width:95%;
    margin: 10px auto 0px auto;
    padding: 5px;
    .footer_top{
      overflow: hidden;
      .footer_information_box{
        width: 100%;
        margin: 0 auto;
        .footer_information_ul1{
          width: 25%;
          float: left;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            display: block;
            color: #848484;
            margin-top: 5px;
          }
        }
        .footer_information_ul2{
          float: left;
          width: 25%;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul3{
          float: left;
          width: 25%;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        .footer_information_ul4{
          float: left;
          width: 25%;
          p{
            margin-bottom: 10px;
            font-size: 1.4em;
          }
          a{
            color: #848484;
            display: block;
            margin-top: 5px;
          }
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    .footer_bottom{
      color: #848484;
      margin-top: 15px;
      text-align: center;
    }
  }
}